/.idea
/01_es6/.idea
/02_react/.idea
/02_react/node_modules
/02_react/public
/03_redux/.idea
/03_redux/node_modules
/03_redux/public
/04_react-redux/node_modules
/04_react-redux/public
/04_react-redux/.idea
/05_react-testing/.idea
/05_react-testing/node_modules
/05_react-testing/public
/05_react-testing/.tmp
